#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "data_bit<0>" LOC = P79 | IOSTANDARD = LVTTL;
NET "data_bit<1>" LOC = P78 | IOSTANDARD = LVTTL;
NET "data_bit<2>" LOC = P75 | IOSTANDARD = LVTTL;
NET "data_bit<3>" LOC = P74 | IOSTANDARD = LVTTL;
NET "data_bit<4>" LOC = P67 | IOSTANDARD = LVTTL;
NET "data_bit<5>" LOC = P66 | IOSTANDARD = LVTTL;
NET "data_bit<6>" LOC = P58 | IOSTANDARD = LVTTL;
NET "data_bit<7>" LOC = P57 | IOSTANDARD = LVTTL;
NET "data_bit<8>" LOC = P33 | IOSTANDARD = LVTTL;
NET "data_bit<9>" LOC = P32 | IOSTANDARD = LVTTL;
NET "data_bit<10>" LOC = P35 | IOSTANDARD = LVTTL;
NET "data_bit<11>" LOC = P34 | IOSTANDARD = LVTTL;
NET "data_bit<12>" LOC = P41 | IOSTANDARD = LVTTL;
NET "data_bit<13>" LOC = P40 | IOSTANDARD = LVTTL;
NET "data_bit<14>" LOC = P51 | IOSTANDARD = LVTTL;
NET "data_bit<15>" LOC = P50 | IOSTANDARD = LVTTL;
NET "data_bit<16>" LOC = P80 | IOSTANDARD = LVTTL;
NET "data_bit<17>" LOC = P81 | IOSTANDARD = LVTTL;
NET "data_bit<18>" LOC = P82 | IOSTANDARD = LVTTL;
NET "data_bit<19>" LOC = P83 | IOSTANDARD = LVTTL;
NET "data_bit<20>" LOC = P84 | IOSTANDARD = LVTTL;
NET "data_bit<21>" LOC = P85 | IOSTANDARD = LVTTL;
NET "data_bit<22>" LOC = P87 | IOSTANDARD = LVTTL;
NET "data_bit<23>" LOC = P88 | IOSTANDARD = LVTTL;
NET "data_bit<24>" LOC = P99 | IOSTANDARD = LVTTL;
NET "data_bit<25>" LOC = P100 | IOSTANDARD = LVTTL;
NET "data_bit<26>" LOC = P97 | IOSTANDARD = LVTTL;
NET "data_bit<27>" LOC = P98 | IOSTANDARD = LVTTL;
NET "data_bit<28>" LOC = P94 | IOSTANDARD = LVTTL;
NET "data_bit<29>" LOC = P95 | IOSTANDARD = LVTTL;
NET "data_bit<30>" LOC = P92 | IOSTANDARD = LVTTL;
NET "data_bit<31>" LOC = P93 | IOSTANDARD = LVTTL;
NET "data_bit<32>" LOC = P114 | IOSTANDARD = LVTTL;
NET "data_bit<33>" LOC = P115 | IOSTANDARD = LVTTL;
NET "data_bit<34>" LOC = P111 | IOSTANDARD = LVTTL;
NET "data_bit<35>" LOC = P112 | IOSTANDARD = LVTTL;
NET "data_bit<36>" LOC = P104 | IOSTANDARD = LVTTL;
NET "data_bit<37>" LOC = P105 | IOSTANDARD = LVTTL;
NET "data_bit<38>" LOC = P101 | IOSTANDARD = LVTTL;
NET "data_bit<39>" LOC = P102 | IOSTANDARD = LVTTL;
NET "data_bit<40>" LOC = P138 | IOSTANDARD = LVTTL;
NET "data_bit<41>" LOC = P137 | IOSTANDARD = LVTTL;
NET "data_bit<42>" LOC = P140 | IOSTANDARD = LVTTL;
NET "data_bit<43>" LOC = P139 | IOSTANDARD = LVTTL;
NET "data_bit<44>" LOC = P142 | IOSTANDARD = LVTTL;
NET "data_bit<45>" LOC = P141 | IOSTANDARD = LVTTL;
NET "data_bit<46>" LOC = P144 | IOSTANDARD = LVTTL;
NET "data_bit<47>" LOC = P143 | IOSTANDARD = LVTTL;
NET "data_bit<48>" LOC = P2 | IOSTANDARD = LVTTL;
NET "data_bit<49>" LOC = P1 | IOSTANDARD = LVTTL;
NET "data_bit<50>" LOC = P6 | IOSTANDARD = LVTTL;
NET "data_bit<51>" LOC = P5 | IOSTANDARD = LVTTL;
NET "data_bit<52>" LOC = P8 | IOSTANDARD = LVTTL;
NET "data_bit<53>" LOC = P7 | IOSTANDARD = LVTTL;
NET "data_bit<54>" LOC = P10 | IOSTANDARD = LVTTL;
NET "data_bit<55>" LOC = P9 | IOSTANDARD = LVTTL;
NET "data_bit<56>" LOC = P12 | IOSTANDARD = LVTTL;
NET "data_bit<57>" LOC = P11 | IOSTANDARD = LVTTL;
NET "data_bit<58>" LOC = P15 | IOSTANDARD = LVTTL;
NET "data_bit<59>" LOC = P14 | IOSTANDARD = LVTTL;
NET "data_bit<60>" LOC = P17 | IOSTANDARD = LVTTL;
NET "data_bit<61>" LOC = P16 | IOSTANDARD = LVTTL;
NET "data_bit<62>" LOC = P22 | IOSTANDARD = LVTTL;
NET "data_bit<63>" LOC = P21 | IOSTANDARD = LVTTL;
NET "enable_bit<0>" LOC = P29 | IOSTANDARD = LVTTL;
NET "enable_bit<1>" LOC = P27 | IOSTANDARD = LVTTL;
NET "enable_bit<2>" LOC = P30 | IOSTANDARD = LVTTL;
NET "enable_bit<3>" LOC = P116 | IOSTANDARD = LVTTL;
NET "enable_bit<4>" LOC = P117 | IOSTANDARD = LVTTL;
NET "enable_bit<5>" LOC = P24 | IOSTANDARD = LVTTL;
NET "enable_bit<6>" LOC = P26 | IOSTANDARD = LVTTL;
NET "enable_bit<7>" LOC = P23 | IOSTANDARD = LVTTL;